#hello{
  display: flex;
  flex-direction: column;
}

#text{
  font-family: "Lilita One", sans-serif;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#button{
  width: 400px;
  align-self: center;
}

#video{
  align-self: center;
}

body{
  background-color: rgb(255, 199, 172);
}
